.colaborador{
    display: flex;
    flex-direction: column;
    height: 272px;
    width: 250px;
    align-items: center;
    background-color: white;
    margin-top: 38px;
}

 .colaborador img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

