@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.time{
    display: flex;
    align-items: center;
    padding: 34px;
    flex-direction: column;
}

.timename{
    text-align: center;
    font-family: 'Prata', sans-serif;
    font-weight: 400;
    font-size: 32px;
    border-bottom: 2px solid;
}

.containercards{
    display: flex;
    flex-direction: row;
    gap: 32px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}