@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.botao{
    padding: 40px 0 0 0 ;
    align-self: flex-start;
    width: 167px;
    
}

.botao button{
    height: 80px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #6278F7;
    color: white;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}